//! **************************************************************************
// Written by: Map P.68d on Tue Jul 07 18:30:28 2015
//! **************************************************************************

SCHEMATIC START;
COMP "btn" LOCATE = SITE "D18" LEVEL 1;
COMP "rot_a" LOCATE = SITE "K18" LEVEL 1;
COMP "rot_b" LOCATE = SITE "G18" LEVEL 1;
COMP "lcd_dataout<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "lcd_dataout<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "lcd_dataout<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "lcd_dataout<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "nClear" LOCATE = SITE "N17" LEVEL 1;
COMP "clk_en" LOCATE = SITE "H18" LEVEL 1;
COMP "clk_in" LOCATE = SITE "C9" LEVEL 1;
COMP "lcd_control<0>" LOCATE = SITE "L17" LEVEL 1;
COMP "lcd_control<1>" LOCATE = SITE "L18" LEVEL 1;
COMP "lcd_control<2>" LOCATE = SITE "M18" LEVEL 1;
NET "clk_in_BUFGP/IBUFG" BEL "clk_in_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

